h1 {
    background-color: antiquewhite;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  h2 {
    background-color: antiquewhite;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  h3 {
    font-style: italic;
    text-align: center;
  }
  
  ul {
    font-size: 115%;
  }
  
  p {
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  